# Ignore arquivos de build e binários
bin/
obj/
*.dll
*.pdb
*.exe
*.appx
*.appxbundle
*.msix
*.msixbundle
*.deb
*.rpm
*.so
*.dylib
*.pyc
*.o
*.a
*.lib
*.swp
*.swo
*.sln.cache
*.sln.ide
*.suo
*.user
*.lock.json
project.lock.json
project.assets.json
*.csproj.user

# Ignore pacotes e dependências
node_modules/
packages/
.vscode/
.nuget/
dist/
bower_components/
jspm_packages/

# Ignore logs e arquivos de depuração
*.log
*.tlog
*.bak
*.old
*.tmp
*.cache
*.pid
*.env
*.DS_Store
*.ncb
*.sdf
*.sqlite
*.sqlite3
*.mdf
*.ldf

# Ignore arquivos específicos do Visual Studio e Rider
*.vs/
*.idea/
*.vsconfig
.vs/slnx.sqlite
.vs/*.suo
.vs/*.user
.vs/*.db
.vs/*.pdb

# Ignore arquivos do Entity Framework
Migrations/
**/Migrations/
appsettings*.json

# Ignore arquivos do Docker
docker-compose.override.yml
.dockerignore
Dockerfile

# Ignore arquivos de build do .NET
*.csproj.FileListAbsolute.txt
*.csproj.AssemblyReference.cache
*.AssemblyInfo.cs